[submodule "resources/bin/rewriting-instrumenter"]
	path = resources/bin/rewriting-instrumenter
	url = https://github.com/ejrgilbert/rewriting-instrumenter
[submodule "resources/bin/whamm"]
	path = resources/bin/whamm
	url = https://github.com/ejrgilbert/whamm.git
